<nav th:fragment="side_nav" class="col-md-2 d-none d-md-block bg-light sidebar">
	<div class="sidebar-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" th:href="@{/home}">
					<span data-feather="home"></span>
					Dashboard
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/readers}">
					<span data-feather="users"></span>
					Readers
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/blogs}">
					<span data-feather="file"></span>
					Blogs
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/blogsreaders}">
					<span data-feather="file"></span>
					Readers por blog
				</a>
			</li>
		</ul>

		<!--             <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"> -->
		<!--               <span>Saved reports</span> -->
		<!--               <a class="d-flex align-items-center text-muted" href="#"> -->
		<!--                 <span data-feather="plus-circle"></span> -->
		<!--               </a> -->
		<!--             </h6> -->
	</div>
</nav>